/*------------------------------------*\
#FONTS
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    /* --global-color: #FEF086;
    --global-color-beta: #235A68; */

    --global-color: #FEF086;
    --global-color-beta: #007A97;

    /* forms */
    --global-placeholder-color: var(--global-color-beta);
    --global-input-backgroundColor: white;
    --global-input-color: var(--global-color-beta);
    --global-input-borderColor: #F5C352;
    --global-input-hover-borderColor: #FEF086;
    --global-input-focus-bordercolor: #FEF4AC;
    --global-input-focus-boxShadowColor: #FEF7C1;
    --global-input-focus-boxShadow: 0 0 0 3px var(--global-input-focus-boxShadowColor);

    --global-color-error: #EF6C00;
    --global-input-error-borderColor: #EF6C00;

    /* border */
    --global-border-width: 3px;
    --global-borderRadius: 4px;

    /* Whitespace */
    --global-baseline: calc(1rem/4); /* = 5px */
    --global-whitespace-xxs: var(--global-baseline); /* = 5px */
    --global-whitespace-xs: calc(var(--global-baseline) * 2); /* = 10px */
    --global-whitespace-sm: calc(var(--global-baseline) * 3); /* = 15px */
    --global-whitespace-md: calc(var(--global-baseline) * 4); /* = 20px */
    --global-whitespace-lg: calc(var(--global-baseline) * 5); /* = 25px */
    --global-whitespace-xl: calc(var(--global-baseline) * 6); /* = 30px */

    --global-transition-timing-alpha: .1s ease-out;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 125%;
    line-height: 1.2;
    font-family: 'Work Sans', Helvetica, arial, sans-serif;
    color: var(--global-color);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--global-color-beta);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace-md);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--global-color);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--global-color);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.65;
    margin: 0 0 var(--global-whitespace-lg);
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 var(--global-whitespace-lg);
}

h3 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 0 0 var(--global-whitespace-lg);
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.0;
    margin: 0 0 var(--global-whitespace-lg);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace-lg);
}

ul,
ol {
    padding-left: var(--global-whitespace-lg);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.15rem;
    line-height: 1.6;
    margin: 0 0 var(--global-whitespace-lg);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 0.8;
    margin-top: var(--global-whitespace-xs);
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 var(--global-whitespace-lg);
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral-light);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: var(--global-whitespace-lg) var(--global-whitespace-lg) 0;
    display: flow-root; /* New solution! Fixes margin collapsing */
    align-items: center;
}

/* size modifiers */

.o-row--lg {
    padding: calc(var(--global-whitespace-lg) * 2) var(--global-whitespace-lg) var(--global-whitespace-lg);
}

@media (min-width: 38.4em) {
    .o-row {
        padding-left: calc(var(--global-whitespace-lg) * 2);
        padding-right: calc(var(--global-whitespace-lg) * 2);
    }

    .o-row--md {
        padding-top: calc(var(--global-whitespace-lg) * 2);
        padding-bottom: var(--global-whitespace-lg);
    }

    .o-row--lg {
        padding-top: calc(var(--global-whitespace-lg) * 3);
        padding-bottom: calc(var(--global-whitespace-lg) * 2);
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Form
    ---
    Everything that has something to do with a form
*/

.c-form {
    margin-top: calc(var(--global-whitespace-xl) * 2);
}

.c-form-field {
    margin-top: var(--global-whitespace-xl);
}

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {       
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: var(--global-border-width) solid var(--input-borderColor, var(--global-input-borderColor));
    border-radius: var(--global-borderRadius);
    background-color: var(--global-input-backgroundColor);
    color: var(--global-input-color);
    font-family: inherit;
    font-size: 1rem;
    padding: var(--global-whitespace-sm);
    outline: none;
    transition: border var(--global-transition-timing-alpha), box-shadow var(--global-transition-timing-alpha);
}

.c-input:hover {
    border-color: var(--global-input-hover-borderColor);
    box-shadow: var(--global-input-focus-boxShadow);
}

.c-input:focus,
.c-input:active {
    border-color: var(--global-input-focus-bordercolor);
    box-shadow: var(--global-input-focus-boxShadow);
}

.has-error {
    --label-color: var(--global-color-error);
    --input-borderColor: var(--global-input-error-borderColor);
}

/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: var(--global-whitespace-sm);
    font-size: inherit;
    line-height: inherit;
    color: var(--label-color, var(--global-color));
    width: 100%;
}

/*
    Component: Button
    ---
    Class to put on form buttons or
*/

.c-button {
    --button-borderColor: #F5C352 ;
    --button-hover-borderColor: #FEF7C1;
    --button-active-borderColor: #F5C352;
    --button-focus-borderColor: #FEF4AC;
    --button-backgroundColor: #FEF086; 
    --button-hover-backgroundColor: #FEF4AC;
    --button-active-backgroundColor: #FADA6C;
    --button-focus-backgroundColor: #F5C352;
    --button-focus-boxShadow: #FEF7C1;
    --button-active-boxShadow: #EC9E57;
    --button-disabled-backgroundColor: #889497;
    --button-disabled-color: #000000;
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--global-borderRadius);
    border: 1px solid var(--button-borderColor);
    background-color: var(--button-backgroundColor);
    color: var(--global-color-beta);
    line-height: calc(var(--global-baseline) * 5);
    padding: calc(var(--global-baseline) * 3 - var(--global-border-width)) var(--global-whitespace-md);
    outline: none;
    box-shadow: 0;
    transition: all var(--global-transition-timing-alpha);
    pointer-events: auto;
}

.c-button:hover {
    border-color: var(--button-hover-borderColor);
    background-color: var(--button-hover-backgroundColor);
}

.c-button:focus {
    background-color: var(--button-focus-backgroundColor);
    border-color: var(--button-focus-borderColor);
    box-shadow: var(--button-focus-boxShadow);
}

.c-button:active {
    background-color: var(--button-active-backgroundColor);
    border-color: var(--button-active-borderColor);
    box-shadow: var(--button-active-boxShadow, 0);
}

.c-button:disabled {
    background-color: var(--button-disabled-backgroundColor);
    border-color: var(--button-disabled-backgroundColor);
    color: var(--button-disabled-color);
    box-shadow: none;
}

/*
    Component: Image
    ---
    Class for the mock up
*/

.c-image {
    text-align: center;
    margin: auto;
    width: 70%;
}

/*
    Component: Map
    ---
    Class for the map layout
*/

.c-map {
    height: 100vh;
}

.c-main {
    min-height: 100vh;
    display: grid;
    grid-gap: var(--global-whitespace-xl);
}

@media (min-width: 49.6em) {
    .c-main {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--color-neutral);
}

.u-color-neutral-dark {
    color: var(--color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
    flex-basis: auto !important;
}

.u-flex-grow-1 {
    flex-grow: 1 !important;
}

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
